/* --------------------------color-------------------------- */
// theme color
$color-primary: #1394ff !default;
$color-none: transparent !default;
$color-white: #fff !default;
$color-black: #000 !default;
$color-success: #33CC33 !default;
$color-info: #909399 !default;
$color-warning: #FF9933 !default;
$color-danger: #FF6666 !default;
$color-hazard: #f5222d !default;

// theme color lightness
$color-primary-light-1: mix($color-white, $color-primary, 10%) !default;
$color-primary-light-2: mix($color-white, $color-primary, 20%) !default;
$color-primary-light-3: mix($color-white, $color-primary, 30%) !default;
$color-primary-light-4: mix($color-white, $color-primary, 40%) !default;
$color-primary-light-5: mix($color-white, $color-primary, 50%) !default;
$color-primary-light-6: mix($color-white, $color-primary, 60%) !default;
$color-primary-light-7: mix($color-white, $color-primary, 70%) !default;
$color-primary-light-8: mix($color-white, $color-primary, 80%) !default;
$color-primary-light-9: mix($color-white, $color-primary, 90%) !default;

$color-success-light: mix($color-white, $color-success, 80%) !default;
$color-warning-light: mix($color-white, $color-warning, 80%) !default;
$color-danger-light: mix($color-white, $color-danger, 80%) !default;
$color-info-light: mix($color-white, $color-info, 80%) !default;

$color-success-lighter: mix($color-white, $color-success, 90%) !default;
$color-warning-lighter: mix($color-white, $color-warning, 90%) !default;
$color-danger-lighter: mix($color-white, $color-danger, 90%) !default;
$color-info-lighter: mix($color-white, $color-info, 90%) !default;

// font-color:
$color-text-primary: #303133 !default; // 主要
$color-text-regular: #606266 !default; // 常规
$color-text-secondary: #909399 !default; // 次要
$color-text-placeholder: #C0C4CC !default; // 占位
$color-text-disabled: #bbb !default; // disabled

$color-text-thin-dark-1: rgba(0, 0, 0, .15);
$color-text-thin-dark-2: rgba(0, 0, 0, .25);
$color-text-thin-dark-3: rgba(0, 0, 0, .35);
$color-text-thin-dark-4: rgba(0, 0, 0, .45);
$color-text-thin-dark-5: rgba(0, 0, 0, .55);
$color-text-thin-dark-6: rgba(0, 0, 0, .65);
$color-text-thin-dark-7: rgba(0, 0, 0, .75);
$color-text-thin-dark-8: rgba(0, 0, 0, .85);
$color-text-thin-dark-9: rgba(0, 0, 0, .95);

// border-color
$border-color-base: #DCDFE6 !default;
$border-color-light: #E4E7ED !default;
$border-color-lighter: #EBEEF5 !default;
$border-color-extra-light: #F2F6FC !default;
$border-color-hover: $color-text-placeholder !default;

// background-color
$background-color-base: #F5F7FA !default;
$background-color-light: #FAFAFA !default;

// Disable color
$disabled-fill-base: $background-color-base !default;
$disabled-color-base: $color-text-disabled !default;
$disabled-border-base: $border-color-light !default;

/* --------------------------base-------------------------- */
// border-radius
$border-radius-small: 2px !default;
$border-radius-base: 4px !default;
$border-radius-medium: 8px !default;
$border-radius-large: 12px !default;
$border-radius-extra-larger: 20px !default;
$border-radius-circle: 50% !default;
$border-radius-none: 0 !default;

// border-width
$border-width-none: 0 !default;
$border-width-base: 1px !default;
//$border-width-base: 20px;
$border-width-medium: 2px !default;
$border-width-large: 4px !default;

// border-style
$border-style-base: solid !default;
$border-style-dashed: dashed !default;
$border-style-dotted: dotted !default;

// border-base
$border-base: $border-width-base $border-style-base $border-color-base !default;

// box-shadow
$box-shadow-base: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04) !default;
$box-shadow-dark: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .12) !default; // 深色投影
$box-shadow-light: 0 2px 12px 0 rgba(0, 0, 0, 0.1) !default; // 浅色投影

// line-height
$line-height-base: 1.5 !default;
$line-height-small: 1 !default;

// font-size
$font-size-small: 12px !default;
$font-size-bias: 13px !default;
$font-size-base: 14px !default;
$font-size-medium: 16px !default;
$font-size-large: 18px !default;
$font-size-extra-large: 20px !default;

// font-weight
$font-weight-base: 500 !default;
$font-weight-bold: 700 !default;

// z-index
$z-index-base: 1 !default;
$z-index-negative: -1 !default;
$z-index-large: 10 !default;
$z-index-extra-large: 100 !default;
$z-index-extremely-large: 1000 !default;

// transition-duration
$transition-duration-faster: .1s!default;
$transition-duration-fast: .2s!default;
$transition-duration-base: .3s!default;
$transition-duration-slow: .4s!default;
$transition-duration-slower: .5s!default;

// transition-timing-function
$ease-base-out: cubic-bezier(0.7, 0.3, 0.1, 1);
$ease-base-in: cubic-bezier(0.9, 0, 0.3, 0.7);
$ease-out: cubic-bezier(0.215, 0.61, 0.355, 1);
$ease-in: cubic-bezier(0.55, 0.055, 0.675, 0.19);
$ease-in-out: cubic-bezier(0.645, 0.045, 0.355, 1);
$ease-out-back: cubic-bezier(0.12, 0.4, 0.29, 1.46);
$ease-in-back: cubic-bezier(0.71, -0.46, 0.88, 0.6);
$ease-in-out-back: cubic-bezier(0.71, -0.46, 0.29, 1.46);
$ease-out-circ: cubic-bezier(0.08, 0.82, 0.17, 1);
$ease-in-circ: cubic-bezier(0.6, 0.04, 0.98, 0.34);
$ease-in-out-circ: cubic-bezier(0.78, 0.14, 0.15, 0.86);
$ease-in-out-round: cubic-bezier(0.55, 0, 0.1, 1);
$ease-out-quint: cubic-bezier(0.23, 1, 0.32, 1);
$ease-in-quint: cubic-bezier(0.755, 0.05, 0.855, 0.06);
$ease-in-out-quint: cubic-bezier(0.86, 0, 0.07, 1);

$all-transition: all $transition-duration-base $ease-in-out !default;
$fade-transition: opacity $transition-duration-base linear !default;
$fade-linear-transition: opacity $transition-duration-fast linear !default;
$md-fade-transition: transform $transition-duration-base $ease-out-quint, opacity $transition-duration-base $ease-out-quint !default;
$zoom-transition: transform $transition-duration-base $ease-in-out-round, opacity $transition-duration-base $ease-in-out-round !default;
$border-transition-base: border-color $transition-duration-fast $ease-in-out !default;
$color-transition-base: color $transition-duration-fast $ease-in-out !default;


/* --------------------------Break-point-------------------------- */
$sm: 768px !default;
$md: 992px !default;
$lg: 1200px !default;
$xl: 1920px !default;

$breakpoints: (
    'xs' : (max-width: $sm - 1),
    'sm' : (min-width: $sm),
    'md' : (min-width: $md),
    'lg' : (min-width: $lg),
    'xl' : (min-width: $xl)
);

$breakpoints-spec: (
    'xs-only' : (max-width: $sm - 1),
    'sm-and-up' : (min-width: $sm),
    'sm-only': "(min-width: #{$sm}) and (max-width: #{$md - 1})",
    'sm-and-down': (max-width: $md - 1),
    'md-and-up' : (min-width: $md),
    'md-only': "(min-width: #{$md}) and (max-width: #{$lg - 1})",
    'md-and-down': (max-width: $lg - 1),
    'lg-and-up' : (min-width: $lg),
    'lg-only': "(min-width: #{$lg}) and (max-width: #{$xl - 1})",
    'lg-and-down': (max-width: $xl - 1),
    'xl-only' : (min-width: $xl),
);

/* --------------------------Button-------------------------- */
// button-border
$button-border-color-default: $border-color-base !default;
$button-border-color-primary: $color-primary !default;
$button-border-color-success: $color-success !default;
$button-border-color-info: $color-info !default;
$button-border-color-warning: $color-warning !default;
$button-border-color-danger: $color-danger !default;
$button-border-color-text: $color-none !default;

// button-background-color
$button-background-color-default: $color-white !default;
$button-background-color-primary: $color-primary !default;
$button-background-color-success: $color-success !default;
$button-background-color-info: $color-info !default;
$button-background-color-warning: $color-warning !default;
$button-background-color-danger: $color-danger !default;
$button-background-color-text: $color-none !default;

// button-font-color
$button-font-color-default: $color-text-regular !default;
$button-font-color-primary: $color-white !default;
$button-font-color-success: $color-white !default;
$button-font-color-info: $color-white !default;
$button-font-color-warning: $color-white !default;
$button-font-color-danger: $color-white !default;
$button-font-color-text: $color-primary !default;

// button-font
$button-font-size: $font-size-base !default;
$button-large-font-size: $font-size-medium !default;
$button-small-font-size: $font-size-small !default;

// button-border-radius
$button-border-radius: $border-radius-base !default;

// button-padding
$button-padding-vertical: 8px !default;
$button-padding-horizontal: 15px !default;
$button-large-padding-vertical: 11px !default;
$button-large-padding-horizontal: 15px !default;
$button-small-padding-vertical: 5px !default;
$button-small-padding-horizontal: 7px !default;

// button-hover
$button-hover-tint-percent: 20% !default;
$button-active-shade-percent: 10% !default;

// button-disabled
$button-disabled-border-color: $border-color-lighter !default;
$button-disabled-background-color: $color-white !default;
$button-disabled-font-color: $color-text-placeholder !default;

// button-round
$button-round-radius: $border-radius-extra-larger !default;

// button-circle
$button-circle-radius: $border-radius-circle !default;

// button-group-gap-color缝隙
$button-group-gap-color: rgba($color-white, 0.5) !default;

/* --------------------------Collapse-------------------------- */
$collapse-border-color: $border-color-base !default;
$collapse-header-line-height: 22px !default;
$collapse-header-padding: 20px !default;
$collapse-header-fill: $color-white !default;
$collapse-header-color: $color-text-primary !default;
$collapse-header-size: $font-size-base !default;
$collapse-content-fill: $color-white !default;
$collapse-content-size: $font-size-base !default;
$collapse-content-color: $color-text-regular !default;


/* --------------------------Radio-------------------------- */
// font
$radio-font-size: $font-size-base !default;
$radio-font-weight: $font-weight-base !default;
$radio-font-color: $color-text-regular !default;

// input
$radio-input-height: 16px !default;
$radio-input-width: 16px !default;
$radio-input-border-radius: $border-radius-circle !default;
$radio-input-background-color: $color-white !default;
$radio-input-border: $border-base !default;
$radio-input-border-color: $border-color-base !default;

// transition
$radio-transition-duration: $transition-duration-base !default;
$radio-transition-timing-function: $ease-in-out-circ !default;

// icon
$radio-icon-color: $color-white !default;

// disabled
$radio-disabled-input-border-color: $disabled-border-base !default;
$radio-disabled-input-fill: $disabled-fill-base !default;
$radio-disabled-icon-color: $disabled-fill-base !default;

// disabled-checked
$radio-disabled-checked-input-border-color: $disabled-border-base !default;
$radio-disabled-checked-input-fill: $disabled-fill-base !default;
$radio-disabled-checked-icon-color: $color-text-placeholder !default;

// checked
$radio-checked-font-color: $color-primary !default;
$radio-checked-input-border-color: $color-primary !default;
$radio-checked-input-background-color: $color-white !default;
$radio-checked-icon-color: $color-primary !default;

// box-shadow
$radio-input-border-box-shadow-focus: $color-primary-light-9 !default;

// hover
$radio-input-border-color-hover: $color-primary !default;

// isbordered
$radio-bordered-height: 40px !default;
$radio-bordered-padding: 12px 20px 0 10px !default;
$radio-bordered-medium-padding: 10px 20px 0 10px !default;
$radio-bordered-small-padding: 8px 15px 0 10px !default;
$radio-bordered-mini-padding: 6px 15px 0 10px !default;
$radio-bordered-medium-input-height: 14px !default;
$radio-bordered-medium-input-width: 14px !default;
$radio-bordered-medium-height: 36px !default;
$radio-bordered-small-input-height: 12px !default;
$radio-bordered-small-input-width: 12px !default;
$radio-bordered-small-height: 32px !default;
$radio-bordered-mini-input-height: 12px !default;
$radio-bordered-mini-input-width: 12px !default;
$radio-bordered-mini-height: 28px !default;

// radio-button
$radio-button-font-size: $font-size-base !default;
$radio-button-font-weight: $font-weight-base !default;
$radio-button-base-font-color: $button-font-color-default !default;
$radio-button-base-background-color: $color-white !default;
$radio-button-checked-background-color: $color-white !default;
$radio-button-checked-font-color: $color-primary !default;
$radio-button-checked-border-color: $color-primary !default;
$radio-button-solid-checked-background-color: $color-primary !default;
$radio-button-solid-checked-font-color: $color-white !default;
$radio-button-solid-checked-border-color: $color-primary !default;
$radio-button-solid-checked-sibling-border-color: $color-primary-light-5 !default;
$radio-button-disabled-checked-fill: $border-color-extra-light !default;

/* --------------------------Checkbox-------------------------- */
// font
$checkbox-font-size: $font-size-base !default;
$checkbox-font-weight: $font-weight-base !default;
$checkbox-font-color: $color-text-regular !default;

// input
$checkbox-input-width: 16px !default;
$checkbox-input-height: 16px !default;
$checkbox-input-border: $border-base !default;

// border-radius
$checkbox-border-radius: $border-radius-small !default;
$checkbox-bordered-border-radius: $border-radius-base !default;

// background-color
$checkbox-background-color: $color-white !default;

// disabled
$checkbox-disabled-border-color: $border-color-base !default;
$checkbox-disabled-input-fill: #edf2fc !default;
$checkbox-disabled-icon-color: $color-text-placeholder !default;

$checkbox-disabled-checked-input-fill: $border-color-extra-light !default;
$checkbox-disabled-checked-input-border-color: $border-color-base !default;
$checkbox-disabled-checked-icon-color: $color-text-placeholder !default;

// checked
$checkbox-checked-font-color: $color-primary !default;
$checkbox-checked-input-border-color: $color-primary !default;
$checkbox-checked-background-color: $color-primary !default;
$checkbox-checked-icon-color: $color-white !default;

// input hover
$checkbox-input-border-color-hover: $color-primary !default;

// indeterminate
$checkbox-indeterminate-width: $checkbox-input-width - 8px;
$checkbox-indeterminate-height: $checkbox-input-height - 8px;
$checkbox-indeterminate-background-color: $checkbox-checked-background-color;

// is bordered
$checkbox-bordered-height: 40px !default;
$checkbox-bordered-padding: 9px 20px 9px 10px !default;

$checkbox-bordered-medium-padding: 7px 20px 7px 10px !default;
$checkbox-bordered-small-padding: 5px 15px 5px 10px !default;
$checkbox-bordered-mini-padding: 3px 15px 3px 10px !default;

$checkbox-bordered-medium-input-height: 14px !default;
$checkbox-bordered-medium-input-width: 14px !default;
$checkbox-bordered-medium-height: 36px !default;

$checkbox-bordered-small-input-height: 12px !default;
$checkbox-bordered-small-input-width: 12px !default;
$checkbox-bordered-small-height: 32px !default;

$checkbox-bordered-mini-input-height: 12px !default;
$checkbox-bordered-mini-input-width: 12px !default;
$checkbox-bordered-mini-height: 28px !default;

// checkbox-button
$checkbox-button-checked-background-color: $color-primary !default;
$checkbox-button-checked-font-color: $color-white !default;
$checkbox-button-checked-border-color: $color-primary !default;

/* --------------------------Input-------------------------- */
// font
$input-font-size: $font-size-base !default;
$input-font-color: $color-text-regular !default;

// height
$input-height: 32px !default;

// borer
$input-border: $border-base !default;
$input-border-color: $border-color-base !default;
$input-border-radius: $border-radius-base !default;
$input-border-color-hover: $border-color-hover !default;

// background-color
$input-background-color: $color-white !default;

// disabled
$input-disabled-fill: $disabled-fill-base !default;
$input-disabled-border: $disabled-border-base !default;
$input-disabled-color: $disabled-color-base !default;
$input-disabled-placeholder-color: $color-text-placeholder !default;

// icon
$input-icon-color: $color-text-placeholder !default;

// placeholder
$input-placeholder-color: $color-text-placeholder !default;

// hover
$input-hover-border: $border-color-hover !default;
$input-clear-hover-color: $color-text-secondary !default;

// focus
$input-focus-border: $color-primary !default;
$input-focus-fill: $color-white !default;

// size
$input-large-font-size: 16px !default;
$input-large-height: 40px !default;
$input-small-font-size: 13px !default;
$input-small-height: 24px !default;

// search
$input-search-border-color: $color-primary;
$input-search-background-color: $color-primary;
$input-search-font-color: $color-white;

/* --------------------------Card-------------------------- */

$card-background-color: $color-white !default;
$card-inner-background-color: $background-color-light !default;
$card-actions-background-color: $background-color-light !default;
$card-border-color: $border-color-base !default;
$card-border-radius: $border-radius-base !default;
$card-font-color: $color-text-primary !default;
$card-font-color-body: $color-text-regular !default;
$card-meta-font-color-title: mix($color-black, $color-white, 85%) !default;
$card-meta-font-color-desc: mix($color-black, $color-white, 45%) !default;
$card-padding: 24px !default;
$card-padding-small: 12px !default;
$card-box-shadow: $box-shadow-light !default;
$card-grid-shadow: $card-border-color !default;
$card-grid-shadow-hover: mix($color-black, $color-white, 15%) !default;


/* --------------------------Dialog-------------------------- */

$dialog-background-color: $color-white !default;
$dialog-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3) !default;

$dialog-title-font-size: $font-size-large !default;
$dialog-content-font-size: $font-size-base !default;


$dialog-title-font-color: $color-text-primary !default;
$dialog-content-font-color: $color-text-regular !default;

$dialog-padding-primary: 20px !default;
$dialog-padding-header: 20px 20px 10px !default;
$dialog-padding-footer: 10px 20px !default;

$dialog-border: $border-width-base $border-style-base $border-color-light !default;

$dialog-mask-background-color: rgba(0, 0, 0, .45) !default;

$dialog-confirm-title-font-size: $font-size-medium !default;

/* --------------------------Step-------------------------- */
// icon
$step-icon-width: 32px !default;
$step-icon-height: $step-icon-width !default;
$step-icon-font-size: $font-size-medium !default;

$step-icon-width-small: 24px !default;
$step-icon-height-small: $step-icon-width-small !default;
$step-icon-font-size-small: $font-size-small !default;

$step-icon-width-custom: $step-icon-width !default;
$step-icon-height-custom: $step-icon-height !default;
$step-icon-font-size-custom: 24px !default;

$step-icon-width-custom-small: $step-icon-width-small !default;
$step-icon-height-custom-small: $step-icon-height-small !default;
$step-icon-font-size-custom-small: 20px !default;

// title
$step-title-height: $step-icon-height !default;
$step-title-font-size: $step-icon-font-size !default;
$step-title-font-color: $color-text-thin-dark-6 !default;

$step-title-height-small: $step-icon-height-small !default;
$step-title-font-size-small: $font-size-base !default;

// description
$step-description-max-width: 140px !default;
$step-description-font-size: $font-size-base !default;
$step-description-font-color: $color-text-thin-dark-4 !default;

// subtitle
$step-subtitle-font-size: $step-description-font-size !default;
$step-subtitle-font-color: $step-description-font-color !default;

// line
$step-line-color: $color-text-placeholder !default;

// error
$step-error-color: $color-hazard;

// dotted
// need to: $step-tail-width-gap = 2 * $step-tail-margin-left-dotted - 2 * $step-dot-offset-left
$step-content-width-dotted: 140px !default;
$step-tail-margin-left-dotted: 12px !default;
$step-dot-offset-left: 2px;
$step-tail-width-gap: 20px;

/* --------------------------Tabs-------------------------- */
$tabs-item-padding-horizontal: 12px 16px !default;
$tabs-item-padding-vertical: 8px 24px !default;
$tabs-item-margin-right: 20px !default;
$tabs-item-margin-bottom: 10px !default;

// card
$tab-card-item-padding-horizontal: 12px 20px !default;
$tab-card-item-padding-vertical: 12px 24px !default;
$tab-card-item-margin-right: 0 !default;

// border-card
$tab-border-card-item-padding-horizontal: $tab-card-item-padding-horizontal !default;
$tab-border-card-item-margin-right: $tab-card-item-margin-right !default;

/* --------------------------Popover-------------------------- */
$popover-background-color: $color-white !default;
$popover-border-color: $border-color-lighter !default;
$popover-font-size: $font-size-base !default;

$popover-arrow-size: 6px !default;

$popover-padding: 12px !default;
$popover-padding-large: 18px 20px !default;

$popover-title-font-size: 16px !default;
$popover-title-font-color: $color-text-primary !default;

/* --------------------------Tooltip-------------------------- */
$tooltip-fill: $color-text-primary !default;
$tooltip-color: $color-white !default;
$tooltip-font-size: $font-size-small !default;
$tooltip-border-color: $color-text-primary !default;
$tooltip-arrow-size: 6px !default;
$tooltip-padding: 6px 10px !default;

/* --------------------------Tag-------------------------- */
$tag-font-size: 12px !default;
$tag-border-radius: 4px !default;

// size
$tag-height-small: 24px !default;
$tag-height: 32px !default;
$tag-height-large: 40px !default;

$tag-padding-small: 0 8px !default;
$tag-padding: 0 10px !default;
$tag-padding-large: 0 12px !default;

// color
$tag-primary-color: $color-primary !default;
$tag-success-color: $color-success !default;
$tag-info-color: $color-info !default;
$tag-warning-color: $color-warning !default;
$tag-danger-color: $color-danger !default;


/* --------------------------Select-------------------------- */
$select-border-color-hover: $border-color-hover !default;
$select-disabled-border: $disabled-border-base !default;
$select-font-size: $font-size-base !default;
$select-close-hover-color: $color-text-secondary !default;

// input
$select-input-color: $color-text-placeholder !default;
$select-multiple-input-color: #666 !default;
$select-input-focus-border-color: $color-primary !default;
$select-input-font-size: 14px !default;

// option
$select-option-height: 36px !default;
$select-option-color: $color-text-regular !default;

$select-option-disabled-color: $color-text-placeholder !default;
$select-option-disabled-background: $color-white !default;

$select-option-hover-background: $background-color-base !default;

$select-option-selected-font-color: $color-primary !default;
$select-option-selected-hover: $background-color-base !default;

// group
$select-group-color: $color-info !default;
$select-group-height: 30px !default;
$select-group-font-size: $font-size-small !default;
$select-group-gap: 20px !default;

// dropdown
$select-dropdown-max-height: 216px !default;
$select-dropdown-background: $color-white !default;
$select-dropdown-shadow: $box-shadow-light !default;
$select-dropdown-empty-color: #999 !default;
$select-dropdown-padding: 6px 0 !default;
$select-dropdown-empty-padding: 10px 0 !default;
$select-dropdown-border: 1px solid $border-color-light !default;

// tag
$select-tag-background: #f0f2f5 !default;

/* --------------------------Pagination-------------------------- */
$pagination-font-size: $font-size-base !default;
$pagination-font-color: $color-text-thin-dark-6 !default;
$pagination-background-color: $color-white !default;
$pagination-border-color: #d9d9d9 !default;
$pagination-border-radius: 4px !default;

$pagination-item-width: 32px !default;
$pagination-item-height: $pagination-item-width !default;
$pagination-item-gap: 8px !default;

$pagination-item-width-simple: 24px !default;
$pagination-item-height-simple: $pagination-item-width-simple !default;

$pagination-disabled-color: $color-text-thin-dark-2 !default;
$pagination-disabled-background-color: #f5f5f5 !default;
$pagination-disabled-background-color-active: #dbdbdb !default;
$pagination-disabled-border-color: $pagination-border-color !default;
$pagination-ellipsis-color: $color-text-thin-dark-2 !default;

$pagination-hover-color: $color-primary !default;


/* --------------------------Switch-------------------------- */
$switch-on-color: $color-primary !default;
$switch-off-color: #bfbfbf !default;

$switch-font-size: $font-size-base !default;

$switch-core-border-radius: 10px !default;

$switch-width: 44px !default;
$switch-height: 22px !default;
$switch-button-size: 18px !default;

/*
$switch-width-small: 28px !default;
$switch-height-small: 16px !default;
$switch-button-size-small: 12px !default;*/


/* --------------------------Slider-------------------------- */
$slider-main-background-color: $color-primary !default;
$slider-runway-background-color: $border-color-light !default;
$slider-stop-background-color: $color-white !default;

$slider-button-hover-color: mix($color-primary, black, 97%) !default;

$slider-disable-color: $color-text-placeholder !default;

$slider-margin: 16px 0 !default;
$slider-border-radius: 3px !default;
$slider-height: 6px !default;
$slider-button-size: 16px !default;
$slider-button-wrapper-size: 36px !default;
$slider-button-wrapper-offset: -15px !default;


/* --------------------------InputNumber-------------------------- */
$input-number-width: 140px !default;
$input-number-width-large: 175px !default;
$input-number-width-small: 105px !default;
$input-number-width-traditional: 90px !default;

$input-number-height: $input-height !default;
$input-number-height-large: $input-large-height !default;
$input-number-height-small: $input-small-height !default;

$input-number-handler-background-color: $background-color-base !default;
$input-number-handler-color: $color-text-regular !default;
$input-number-handler-font-size: $font-size-small !default;

$input-number-handler-border-color-disabled: $disabled-border-base !default;
$input-number-handler-color-disabled: $disabled-color-base !default;

$input-number-color-hover: $input-focus-border !default;

$input-number-handler-width-right: 22px !default;

/* --------------------------TimePicker-------------------------- */
$time-picker-width: 128px !default;
$time-picker-font-size: $font-size-base !default;
$time-picker-panel-border-color: $border-color-light !default;
$time-picker-panel-border: 1px solid $time-picker-panel-border-color !default;
$time-picker-panel-background: $color-white !default;
$time-picker-panel-shadow: $box-shadow-light !default;

$time-picker-select-width: 56px !default;
$time-picker-select-max-height: 176px !default;
$time-picker-item-height: 32px !default;
$time-picker-item-color: $color-text-thin-dark-9 !default;
$time-picker-item-background-color-hover: $background-color-base !default;

