/* --------------------------color-------------------------- */
// theme color
$color-primary: #1394ff !default;
$color-none: transparent !default;
$color-white: #fff !default;
$color-black: #000 !default;
$color-success: #33CC33 !default;
$color-info: #909399 !default;
$color-warning: #FF9933 !default;
$color-danger: #FF6666 !default;

// theme color lightness
$color-primary-light-1: mix($color-white, $color-primary, 10%) !default;
$color-primary-light-2: mix($color-white, $color-primary, 20%) !default;
$color-primary-light-3: mix($color-white, $color-primary, 30%) !default;
$color-primary-light-4: mix($color-white, $color-primary, 40%) !default;
$color-primary-light-5: mix($color-white, $color-primary, 50%) !default;
$color-primary-light-6: mix($color-white, $color-primary, 60%) !default;
$color-primary-light-7: mix($color-white, $color-primary, 70%) !default;
$color-primary-light-8: mix($color-white, $color-primary, 80%) !default;
$color-primary-light-9: mix($color-white, $color-primary, 90%) !default;

$color-success-light: mix($color-white, $color-success, 80%) !default;
$color-warning-light: mix($color-white, $color-warning, 80%) !default;
$color-danger-light: mix($color-white, $color-danger, 80%) !default;
$color-info-light: mix($color-white, $color-info, 80%) !default;

$color-success-lighter: mix($color-white, $color-success, 90%) !default;
$color-warning-lighter: mix($color-white, $color-warning, 90%) !default;
$color-danger-lighter: mix($color-white, $color-danger, 90%) !default;
$color-info-lighter: mix($color-white, $color-info, 90%) !default;

// font-color:
$color-text-primary: #303133 !default; // 主要
$color-text-regular: #606266 !default; // 常规
$color-text-secondary: #909399 !default; // 次要
$color-text-placeholder: #C0C4CC !default; // 占位
$color-text-disabled: #bbb !default; // disabled

// border-color
$border-color-base: #DCDFE6 !default;
$border-color-light: #E4E7ED !default;
$border-color-lighter: #EBEEF5 !default;
$border-color-extra-light: #F2F6FC !default;

// background-color
$background-color-base: #F5F7FA !default;

// Disable color
$disabled-fill-base: $background-color-base !default;
$disabled-color-base: $color-text-placeholder !default;
$disabled-border-base: $border-color-light !default;

/* --------------------------base-------------------------- */
// border-radius
$border-radius-small: 2px !default;
$border-radius-base: 4px !default;
$border-radius-medium: 8px !default;
$border-radius-large: 12px !default;
$border-radius-extra-larger: 20px !default;
$border-radius-circle: 50% !default;
$border-radius-none: 0 !default;

// border-width
$border-width-none: 0 !default;
$border-width-base: 1px !default;
//$border-width-base: 20px;
$border-width-medium: 2px !default;
$border-width-large: 4px !default;

// border-style
$border-style-base: solid !default;
$border-style-dashed: dashed !default;
$border-style-dotted: dotted !default;

// border-base
$border-base: $border-width-base $border-style-base $border-color-base !default;

// box-shadow
$box-shadow-base: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04) !default;
$box-shadow-dark: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .12) !default; // 深色投影
$box-shadow-light: 0 2px 12px 0 rgba(0, 0, 0, 0.1) !default; // 浅色投影

// line-height
$line-height-base: 1.5 !default;
$line-height-small: 1 !default;

// font-size
$font-size-small: 12px !default;
$font-size-base: 14px !default;
$font-size-medium: 16px !default;
$font-size-large: 18px !default;
$font-size-extra-large: 20px !default;

// font-weight
$font-weight-base: 500 !default;
$font-weight-bold: 700 !default;

// z-index
$z-index-base: 1 !default;
$z-index-large: 10 !default;
$z-index-extra-large: 100 !default;
$z-index-extremely-large: 1000 !default;

// transition-duration
$transition-duration-fast: .1s!default;
$transition-duration-base: .3s!default;
$transition-duration-slow: .5s!default;

// transition-timing-function
$ease-base-out: cubic-bezier(0.7, 0.3, 0.1, 1);
$ease-base-in: cubic-bezier(0.9, 0, 0.3, 0.7);
$ease-out: cubic-bezier(0.215, 0.61, 0.355, 1);
$ease-in: cubic-bezier(0.55, 0.055, 0.675, 0.19);
$ease-in-out: cubic-bezier(0.645, 0.045, 0.355, 1);
$ease-out-back: cubic-bezier(0.12, 0.4, 0.29, 1.46);
$ease-in-back: cubic-bezier(0.71, -0.46, 0.88, 0.6);
$ease-in-out-back: cubic-bezier(0.71, -0.46, 0.29, 1.46);
$ease-out-circ: cubic-bezier(0.08, 0.82, 0.17, 1);
$ease-in-circ: cubic-bezier(0.6, 0.04, 0.98, 0.34);
$ease-in-out-circ: cubic-bezier(0.78, 0.14, 0.15, 0.86);
$ease-out-quint: cubic-bezier(0.23, 1, 0.32, 1);
$ease-in-quint: cubic-bezier(0.755, 0.05, 0.855, 0.06);
$ease-in-out-quint: cubic-bezier(0.86, 0, 0.07, 1);


/* --------------------------Break-point-------------------------- */
$sm: 768px !default;
$md: 992px !default;
$lg: 1200px !default;
$xl: 1920px !default;

$breakpoints: (
    'xs' : (max-width: $sm - 1),
    'sm' : (min-width: $sm),
    'md' : (min-width: $md),
    'lg' : (min-width: $lg),
    'xl' : (min-width: $xl)
);

$breakpoints-spec: (
    'xs-only' : (max-width: $sm - 1),
    'sm-and-up' : (min-width: $sm),
    'sm-only': "(min-width: #{$sm}) and (max-width: #{$md - 1})",
    'sm-and-down': (max-width: $md - 1),
    'md-and-up' : (min-width: $md),
    'md-only': "(min-width: #{$md}) and (max-width: #{$lg - 1})",
    'md-and-down': (max-width: $lg - 1),
    'lg-and-up' : (min-width: $lg),
    'lg-only': "(min-width: #{$lg}) and (max-width: #{$xl - 1})",
    'lg-and-down': (max-width: $xl - 1),
    'xl-only' : (min-width: $xl),
);

/* --------------------------Button-------------------------- */
// button-border
$button-border-color-default: $border-color-base;
$button-border-color-primary: $color-primary;
$button-border-color-success: $color-success;
$button-border-color-info: $color-info;
$button-border-color-warning: $color-warning;
$button-border-color-danger: $color-danger;
$button-border-color-text: $color-none;

// button-background-color
$button-background-color-default: $color-white;
$button-background-color-primary: $color-primary;
$button-background-color-success: $color-success;
$button-background-color-info: $color-info;
$button-background-color-warning: $color-warning;
$button-background-color-danger: $color-danger;
$button-background-color-text: $color-none;

// button-font-color
$button-font-color-default: $color-text-regular;
$button-font-color-primary: $color-white;
$button-font-color-success: $color-white;
$button-font-color-info: $color-white;
$button-font-color-warning: $color-white;
$button-font-color-danger: $color-white;
$button-font-color-text: $color-primary;

// button-padding
$button-padding-vertical: 8px;
$button-padding-horizontal: 15px;

// button-hover
$button-hover-tint-percent: 20% !default;
$button-active-shade-percent: 10% !default;

// button-disabled
$button-disabled-border-color: $border-color-lighter;
$button-disabled-background-color: $color-white;
$button-disabled-font-color: $color-text-placeholder;

// button-round
$button-round-radius: $border-radius-extra-larger;

// button-circle
$button-circle-radius: $border-radius-circle;

// button-group-gap-color缝隙
$button-group-gap-color: rgba($color-white, 0.5);

/* --------------------------Collapse-------------------------- */
$collapse-border-color: $border-color-base !default;
$collapse-header-line-height: 22px !default;
$collapse-header-padding: 20px !default;
$collapse-header-fill: $color-white !default;
$collapse-header-color: $color-text-primary !default;
$collapse-header-size: $font-size-base !default;
$collapse-content-fill: $color-white !default;
$collapse-content-size: $font-size-base !default;
$collapse-content-color: $color-text-regular !default;


/* --------------------------Radio-------------------------- */
// font
$radio-font-size: $font-size-base !default;
$radio-font-weight: $font-weight-base !default;
$radio-font-color: $color-text-regular !default;

// input
$radio-input-height: 16px !default;
$radio-input-width: 16px !default;
$radio-input-border-radius: $border-radius-circle !default;
$radio-input-background-color: $color-white !default;
$radio-input-border: $border-base !default;
$radio-input-border-color: $border-color-base !default;

// transition
$radio-transition: $transition-duration-base !default;

// icon
$radio-icon-color: $color-white !default;

// disabled
$radio-disabled-input-border-color: $disabled-border-base !default;
$radio-disabled-input-fill: $disabled-fill-base !default;
$radio-disabled-icon-color: $disabled-fill-base !default;

// disabled-checked
$radio-disabled-checked-input-border-color: $disabled-border-base !default;
$radio-disabled-checked-input-fill: $disabled-fill-base !default;
$radio-disabled-checked-icon-color: $color-text-placeholder !default;

// checked
$radio-checked-font-color: $color-primary !default;
$radio-checked-input-border-color: $color-primary !default;
$radio-checked-input-background-color: $color-white !default;
$radio-checked-icon-color: $color-primary !default;

// hover
$radio-input-border-color-hover: $color-primary-light-9 !default;

// isbordered
$radio-bordered-height: 40px !default;
$radio-bordered-padding: 12px 20px 0 10px !default;
$radio-bordered-medium-padding: 10px 20px 0 10px !default;
$radio-bordered-small-padding: 8px 15px 0 10px !default;
$radio-bordered-mini-padding: 6px 15px 0 10px !default;
$radio-bordered-medium-input-height: 14px !default;
$radio-bordered-medium-input-width: 14px !default;
$radio-bordered-medium-height: 36px !default;
$radio-bordered-small-input-height: 12px !default;
$radio-bordered-small-input-width: 12px !default;
$radio-bordered-small-height: 32px !default;
$radio-bordered-mini-input-height: 12px !default;
$radio-bordered-mini-input-width: 12px !default;
$radio-bordered-mini-height: 28px !default;

// radio-button
$radio-button-font-size: $font-size-base !default;
$radio-button-checked-background-color: $color-primary !default;
$radio-button-checked-font-color: $color-white !default;
$radio-button-checked-border-color: $color-primary !default;
$radio-button-disabled-checked-fill: $border-color-extra-light !default;