.input-doc {
    .km-input {
        width: 200px;
    }
    .km-textarea {
        width: 420px;
    }
    .km-input-group {
        width: 500px;
    }
    .km-select .km-input {
        width: 130px;
    }
    .input-with-select .km-input-group__append {
        background-color: #fff;
    }
}