@import "function";

/* 组件根样式 */
@mixin rootCls($name) {
    $rootClsName: classRootName($name);
    .#{$rootClsName} {
        @content;
    }
}

/* 清除浮动 */
@mixin clearFix {
    &:after {
        content: "";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
    }
}