/* 滚动条 */
@mixin scroll-bar($width) {
    &::-webkit-scrollbar {
        width: $width;
        height: 10px;
        background-color: #ffffff;
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 8px;
        -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.2);
        background: #b3b3b0;
    }

    &::-webkit-scrollbar-track {
        background: #ffffff;
    }
}