#components {
    height: 100%;
    .component-container {
        display: flex;
        height: calc(100% - 64px);
        background-color: #f5f5f5;
        .component-sidebar {
            position: relative;
            width: 250px;
            background-color: #fff;
            overflow: auto;
            flex-grow: 0;
            flex-shrink: 0;
        }
        .component-detail {
            margin-left: 20px;
            background-color: #fff;
            overflow: auto;
            flex-grow: 1;
            flex-shrink: 1;
        }
    }
}