$km-prefix: km !default; // 组件样式前缀

/* 圆角 */
$border-radius-base: 4px !default;
$border-radius-small: 2px;
$border-radius-medium: 8px;
$border-radius-large: 12px;
$border-radius-extra-larger: 20px;
$border-radius-round: 50%;
$border-radius-none: 0;

/* 边框长度 */
$border-width-base: 1px !default;
$border-width-none: 0;
$border-width-medium: 2px;
$border-width-large: 4px;

/* 边框样式 */
$border-style-base: solid;
$border-style-dashed: dashed;
$border-style-dotted: dotted;

/* 行高 */
$line-height-primary: 1.5 !default;
$line-height-small: 1;

/* 字体大小 */
$font-size-base: 14px;
$font-size-small: 12px;
$font-size-medium: 16px;
$font-size-large: 18px;
$font-size-extra-large: 20px;

/* 字体粗细 */
$font-weight-base: 500;
$font-weight-bold: 700;