.page-box .km-card {
    width: 300px;
    img {
        display: block;
        width: 100%;
        border-bottom: 1px solid #DCDFE6;
    }
    &.card-fill, &.is-inner {
        width: 100%;
    }
    .card-avatar {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        overflow: hidden;
    }
}