@import "../themes/index.scss";

/* icon列表 */
ul.icon-list {
    margin: 10px 0;
    border: 1px solid #eaeefb;
    border-radius: 4px;
    overflow: hidden;
    color: #5e6d82;
    li {
        display: flex;
        float: left;
        width: 16.66%;
        height: 120px;
        border-right: 1px solid #eee;
        border-bottom: 1px solid #eee;
        margin-right: -1px;
        margin-bottom: -1px;
        flex-direction: column;
        justify-content: center;
        transition: color .3s;
        text-align: center;
        color: #666;
        cursor: pointer;
        &:hover {
            color: $theme-color;
        }
        i {
            margin-bottom: 15px;
            font-size: 32px;
        }
        span {

        }
    }
}