.transition-demo {
    border-radius: 4px;
    padding: 40px 20px;
    background-color: #1394ff;
    font-size: 16px;
    color: #fff;
    text-align: center;
}
.transition-demo-box {
    height: 100px;
}