@import "../mixins/mixins";
@import "../common/var";

@include b(alert) {
    box-sizing: border-box;
    display: flex;
    position: relative;
    width: 100%;
    margin: 0;
    padding: $alert-padding;
    border-radius: $alert-border-radius;
    background-color: $color-white;
    align-items: center;
    overflow: hidden;

    @include when(light) {
        .km-alert__close-btn {
            color: $color-text-secondary;
        }
    }

    @include when(dark) {
        .km-alert__close-btn {
            color: $color-white;
        }
        .km-alert__description {
            color: $color-white;
        }
    }

    @include m(success) {
        &.is-light {
            background-color: $alert-success-color;
            color: $color-success;

            .km-alert__description {
                color: $color-success;
            }
        }

        &.is-dark {
            background-color: $color-success;
            color: $color-white;
        }
    }

    @include m(info) {
        &.is-light {
            background-color: $alert-info-color;
            color: $color-info;
        }

        &.is-dark {
            background-color: $color-info;
            color: $color-white;
        }

        .km-alert__description {
            color: $color-info;
        }
    }

    @include m(warning) {
        &.is-light {
            background-color: $alert-warning-color;
            color: $color-warning;

            .km-alert__description {
                color: $color-warning;
            }
        }

        &.is-dark {
            background-color: $color-warning;
            color: $color-white;
        }
    }

    @include m(error) {
        &.is-light {
            background-color: $alert-danger-color;
            color: $color-danger;

            .km-alert__description {
                color: $color-danger;
            }
        }

        &.is-dark {
            background-color: $color-danger;
            color: $color-white;
        }
    }

    @include e(content) {
        //display: table-cell;
        padding: 0 8px;
    }

    @include e(icon) {
        width: $alert-icon-size;
        font-size: $alert-icon-size;
        /*@include when(big) {
            font-size: $alert-icon-large-size;
            width: $alert-icon-large-size;
        }*/
    }

    @include e(title) {
        line-height: 1.5;
        font-size: $alert-title-font-size;
        @include when(bold) {
            font-weight: bold;
        }
    }

    @include e(description) {
        line-height: 1.5;
        margin: 5px 0 0 0;
        font-size: $alert-description-font-size;
    }

    @include when(with-desc) {
        align-items: flex-start;
        .km-alert__icon {
            font-size: $alert-icon-large-size;
            width: $alert-icon-large-size;
        }
        .km-alert__title {
            font-size: $alert-title-with-desc-font-size;
        }
    }

    @include e(close-btn) {
        position: absolute;
        top: 12px;
        right: 15px;
        opacity: 1;
        font-size: $alert-close-font-size;
        cursor: pointer;

        @include when(custom) {
            font-size: $alert-close-custom-font-size;
            font-style: normal;
            top: 9px;
        }
    }
}
