@import "../mixins/mixins";
@import "../mixins/utils";
@import '../mixins/_button';
@import "../common/var";

@include b(checkbox) {
    display: inline-block;
    position: relative;
    margin-right: 20px;
    outline: none;
    line-height: $line-height-base;
    font-size: $checkbox-font-size;
    font-weight: $checkbox-font-weight;
    color: $checkbox-font-color;
    cursor: pointer;
    white-space: nowrap;
    @include utils-user-select(none);

    @include e(input) {
        display: inline-block;
        position: relative;
        line-height: 1;
        outline: none;
        white-space: nowrap;
        cursor: pointer;
        vertical-align: middle;

        @include when(disabled) {
            .km-checkbox__inner {
                border-color: $checkbox-disabled-border-color;
                background-color: $checkbox-disabled-input-fill;
                cursor: not-allowed;

                &::after {
                    border-color: $checkbox-disabled-icon-color;
                    cursor: not-allowed;
                }

                & + .km-checkbox__label {
                    cursor: not-allowed;
                }
            }

            &.is-checked {
                .km-checkbox__inner {
                    border-color: $checkbox-disabled-checked-input-border-color;
                    background-color: $checkbox-disabled-checked-input-fill;

                    &::after {
                        border-color: $checkbox-disabled-checked-icon-color;
                    }
                }
            }

            &.is-indeterminate {
                .km-checkbox__inner {
                    &::after {
                        background-color: $checkbox-disabled-checked-icon-color;
                    }
                }
            }

            & + span.km-checkbox__label {
                color: $disabled-color-base;
                cursor: not-allowed;
            }
        }

        @include when(checked) {
            /* 选中时波纹效果 */
            &::after {
                box-sizing: border-box;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border: 1px solid $checkbox-checked-input-border-color;
                border-radius: $border-radius-small;
                //visibility: hidden;
                animation: checkboxEffect 0.36s ease-in-out;
                animation-fill-mode: backwards;
                content: '';
            }
            .km-checkbox__inner {
                border-color: $checkbox-checked-input-border-color;
                background-color: $checkbox-checked-background-color;

                /* tick-icon checked */
                &::after {
                    opacity: 1;
                    transform: rotate(45deg) scale(1) translate(-50%, -50%);
                }
            }
        }
        @include when(focus) { /*focus时 视觉上区分*/
            .km-checkbox__inner {
                border-color: $checkbox-input-border-color-hover;
            }
        }
        @include when(indeterminate) {
            .km-checkbox__inner {
                &::after {
                    width: $checkbox-indeterminate-width;
                    height: $checkbox-indeterminate-height;
                    border: 0;
                    top: 50%;
                    left: 50%;
                    background-color: $checkbox-indeterminate-background-color;
                    opacity: 1;
                    transform: translate(-50%, -50%) scale(1);
                }
            }
        }
    }
    @include e(inner) {
        box-sizing: border-box;
        display: block;
        position: relative;
        width: $checkbox-input-width;
        height: $checkbox-input-height;
        border: $checkbox-input-border;
        border-radius: $checkbox-border-radius;
        background-color: $checkbox-background-color;
        z-index: $z-index-base;
        transition: border-color $transition-duration-base $ease-in-out-back,
                    background-color $transition-duration-base $ease-in-out-back;

        &:hover {
            border-color: $checkbox-input-border-color-hover;
        }

        /* tick-icon */
        &::after {
            content: "";
            box-sizing: border-box;
            display: table;
            position: absolute;
            $checkbox-width: ($checkbox-input-width / 14) * 5;
            $checkbox-height: ($checkbox-input-height / 14) * 8;
            width: $checkbox-width;
            height: $checkbox-height;
            border: 2px solid $checkbox-checked-icon-color;
            border-left: 0;
            border-top: 0;
            left: 21%;
            top: 50%;
            opacity: 0;
            transform: rotate(45deg) scale(0) translate(-50%, -50%) ;
            transition: all $transition-duration-faster $ease-in-back $transition-duration-faster;
        }
    }

    /* input[type=checkbox] */
    @include e(original) {
        position: absolute;
        width: 0;
        height: 0;
        outline: none;
        margin: 0;
        opacity: 0;
        z-index: $z-index-negative;
        /* focus时边框色 */
        &:focus + .km-checkbox__inner {
            border-color: $checkbox-checked-input-border-color;
        }
    }

    @include e(label) {
        display: inline-block;
        line-height: 19px;
        padding-left: 10px;
        font-size: $checkbox-font-size;
        vertical-align: middle;
        transition: color $transition-duration-base;
    }

    &:last-of-type {
        margin-right: 0;
    }
}