@import "../mixins/mixins";
@import "../mixins/utils";
@import "../common/var";

@include b(dialog) {
    box-sizing: border-box;
    position: relative;
    width: 520px;
    margin: 0 auto;
    top: 100px;
    border-radius: $border-radius-base;
    background-color: $dialog-background-color;
    box-shadow: $dialog-box-shadow;
    text-align: left;

    @include e(wrapper) {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        overflow: auto;
        margin: 0;
        z-index: $z-index-extremely-large;
        text-align: center;

        @include m(center) {
            @include utils-vertical-center;
        }
    }

    @include e(header) {
        border-bottom: $dialog-border;
        padding: $dialog-padding-header;
    }

    @include e(header-btn) {
        position: absolute;
        border: none;
        outline: none;
        padding: 0;
        top: $dialog-padding-primary;
        right: $dialog-padding-primary;
        background: transparent;
        font-size: $font-size-medium;
        cursor: pointer;

        .km-dialog__close {
            color: $color-info;
        }

        &:focus, &:hover {
            .km-dialog__close {
                color: $color-primary;
            }
        }
    }

    @include e(title) {
        line-height: 24px;
        font-size: $dialog-title-font-size;
        color: $dialog-title-font-color;
    }

    @include e(body) {
        line-height: 1.5;
        padding: ($dialog-padding-primary + 10px) $dialog-padding-primary;
        font-size: $dialog-content-font-size;
        color: $dialog-content-font-color;
        word-break: break-all;
    }

    @include e(confirm) {
        padding: 0 10px;

        & > .km-icon {
            float: left;
            margin-right: 16px;
            font-size: 22px;
            color: #faad14;
        }
    }

    @include e(confirm-info) {
        & > .km-icon {
            color: $color-primary;
        }
    }

    @include e(confirm-success) {
        & > .km-icon {
            color: $color-success;
        }
    }

    @include e(confirm-error) {
        & > .km-icon {
            color: $color-danger;
        }
    }

    @include e(confirm-warning) {
        & > .km-icon {
            color: $color-warning;
        }
    }

    @include e(confirm-title) {
        display: block;
        line-height: 1.5;
        overflow: hidden;
        font-size: $dialog-confirm-title-font-size;
        color: $dialog-title-font-color;
    }

    @include e(confirm-content) {
        margin: 8px 0 0 38px;
        font-size: $dialog-content-font-size;
        color: $dialog-content-font-color;
    }

    @include e(footer) {
        box-sizing: border-box;
        border-top: $dialog-border;
        padding: $dialog-padding-footer;
        text-align: right;
        & > button + button {
            margin-left: 10px;
        }
    }

    @include when(confirm) {
        .km-dialog__body {
            padding-bottom: 10px;
        }
        .km-dialog__footer {
            border-top: none;
        }
    }

    // 内容居中布局
    @include m(center) {
        display: inline-block;
        top: 0;
        vertical-align: middle;
    }
}

@include b(mask) {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: $z-index-extremely-large;
    background-color: $dialog-mask-background-color;
}