@import "../mixins/index";
@import "../common/var";

@include b(slider) {

    @include utils-clear-fix;

    @include e(runway) {
        position: relative;
        width: 100%;
        height: $slider-height;
        border-radius: $slider-border-radius;
        margin: $slider-margin;
        background-color: $slider-runway-background-color;
        cursor: pointer;
        vertical-align: middle;

        @include when(disabled){
            cursor: default;

            .km-slider__bar {
                background-color: $slider-disable-color;
            }

            .km-slider__button {
                border-color: $slider-disable-color;
            }

            .km-slider__button-wrapper {
                &:hover {
                    cursor: not-allowed;
                    .km-slider__button {
                        transform: scale(1);
                    }
                }
            }

            .km-slider__button {
                &:hover {
                    cursor: not-allowed;
                }
            }
        }
    }

    @include e(bar) {
        position: absolute;
        height: $slider-height;
        border-top-left-radius: $slider-border-radius;
        border-bottom-left-radius: $slider-border-radius;
        background-color: $slider-main-background-color;
    }

    @include e(button-wrapper) {
        position: absolute;
        width: $slider-button-wrapper-size;
        height: $slider-button-wrapper-size;
        line-height: normal;
        top: $slider-button-wrapper-offset;
        z-index: $z-index-extra-large;
        background-color: transparent;
        transform: translateX(-50%);
        text-align: center;
        user-select: none;
        @include utils-vertical-center;

        .km-tooltip {
            display: inline-block;
            vertical-align: middle;
        }

        &:hover {
            //cursor: grab;
            cursor: pointer;
            .km-slider__button {
                transform: scale(1.2);
            }
        }

        @include when(dragging) {
            z-index: $z-index-extra-large + 1;
        }
    }

    @include e(button) {
        width: $slider-button-size;
        height: $slider-button-size;
        border: 2px solid $slider-main-background-color;
        border-radius: 50%;
        background-color: $color-white;
        transition: .2s;
        user-select: none;

        &:hover {
            //cursor: grab;
            cursor: pointer;
        }
    }

    @include e(stop) {
        box-sizing: border-box;
        position: absolute;
        height: $slider-height;
        width: $slider-height;
        border-radius: $border-radius-circle;
        background-color: $slider-stop-background-color;
        transform: translateX(-50%);
    }

    @include e(marks) {
        width: 18px;
        height: 100%;
        top: 0;
        left: 12px;

        @include e(marks-text) {
            position: absolute;
            margin-top: 15px;
            transform: translateX(-50%);
            font-size: 14px;
            color: $color-info;
        }

        @include e(marks-stop) {
            border: 1px solid $color-primary;
            box-shadow: 0 0 2px $color-primary;
            transform: translateX(-50%) scale(2);
        }
    }

    @include when(vertical) {
        position: relative;
        .km-slider__runway {
            width: $slider-height;
            height: 100%;
            margin: 0 16px;
        }
        .km-slider__bar {
            width: $slider-height;
            height: auto;
            border-radius: 0 0 3px 3px;
        }
        .km-slider__button-wrapper {
            top: auto;
            left: $slider-button-wrapper-offset;
            transform: translateY(50%);
        }
        .km-slider__stop {
            transform: translateY(50%);
        }

        .km-slider__marks-stop {
            transform: translateY(50%) scale(2);
        }

        @include e(marks-text) {
            left: 15px;
            margin-top: 0;
            transform: translateY(50%);
        }
    }
}