#components {
    height: 100%;
    .component-container {
        display: flex;
        height: calc(100% - 64px);
        background-color: #f5f5f5;
        .component-sidebar {
            position: relative;
            width: 250px;
            // border-right: 1px solid #e8e8e8;
            background-color: #fff;
            overflow: auto;
            /*&:after {
                content: '';
                position: absolute;
                width: 1px;
                height: 90%;
                background-color: #e8e8e8;
                top: 50%;
                right: 0;
                transform: translateY(-50%);
            }*/
        }
        .component-detail {
            flex-grow: 1;
            margin-left: 20px;
            background-color: #fff;
            overflow: auto;
            .page-box {
                padding: 28px 20px;
                font-size: 14px;
                color: #404040;
                h1 {
                    font-weight: bold;
                    margin-bottom: 16px;
                }

                /* 参考链接 */
                a.reference-link {
                    color: #1394ff;
                }

                /* 文档块 */
                .detail-box {
                    margin-bottom: 40px;

                    & > h2 {
                        font-weight: bold;
                        margin-bottom: 16px;
                    }

                    & > p {
                        margin: 16px 0;
                    }

                    & > textarea {
                        margin-bottom: 16px;
                    }


                    /* 引用 */
                    .code-left-line {
                        border-left: 3px solid #1394ff;
                        padding-left: 4px;
                    }

                    /* 文档按钮 */
                    .detail-box-button {
                        margin-bottom: 16px;
                    }

                    /* API圆点 */
                    .row-in-round {
                        margin: 16px 0;
                        &:before {
                            content: " ";
                            display: inline-block;
                            width: 8px;
                            height: 8px;
                            margin-right: 8px;
                            border: 1px solid #1394ff;
                            border-radius: 50%;
                        }
                    }
                }
            }
        }
    }
}