@import "../common/var";
@import "../mixins/index";

/* collapse-transition */
.km-collapse-transition {
    transition: $transition-duration-base height $ease-in-out, $transition-duration-base padding-top $ease-in-out, $transition-duration-base padding-bottom $ease-in-out, $transition-duration-base border-top-width $ease-in-out, $transition-duration-base border-bottom-width $ease-in-out;
}
.km-horizontal-collapse-transition {
    transition: $transition-duration-base width $ease-in-out, $transition-duration-base padding-left $ease-in-out, $transition-duration-base padding-right $ease-in-out, $transition-duration-base border-top-width $ease-in-out, $transition-duration-base border-bottom-width $ease-in-out;
}

/* fade-transition */
.km-fade-transition-enter-active, .km-fade-transition-leave-active, .km-fade-transition-appear-active {
    transition: $fade-transition;
    //transition: opacity 2s;
}
.km-fade-transition-enter, .km-fade-transition-leave-to, .km-fade-transition-appear {
    opacity: 0;
}

/* zoom-transition */
@include zoom-transition('center');
@include zoom-transition('top');
@include zoom-transition('bottom');
@include zoom-transition('left');
@include zoom-transition('right');

/* popper */
.km-popper-enter-active, .km-popper-leave-active, .km-popper-appear-active {
    transition: opacity $transition-duration-base $ease-out;
    //transition: opacity 2s;
}
.km-popper-enter, .km-popper-leave-to, .km-popper-appear {
    opacity: 0;
}