@import "../common/var";

/* collapse-transition */
.collapse-transition {
    transition: $transition-duration-base height $ease-in-out, $transition-duration-base padding-top $ease-in-out, $transition-duration-base padding-bottom $ease-in-out, $transition-duration-base border-top-width $ease-in-out, $transition-duration-base border-bottom-width $ease-in-out;
}
.horizontal-collapse-transition {
    transition: $transition-duration-base width $ease-in-out, $transition-duration-base padding-left $ease-in-out, $transition-duration-base padding-right $ease-in-out, $transition-duration-base border-top-width $ease-in-out, $transition-duration-base border-bottom-width $ease-in-out;
}

/* fade-transition */
.km-fade-in-linear-enter-active,
.km-fade-in-linear-leave-active {
    transition: $fade-linear-transition;
}
.km-fade-in-linear-enter,
.km-fade-in-linear-leave,
.km-fade-in-linear-leave-active {
    opacity: 0;
}

.km-fade-in-enter-active,
.km-fade-in-leave-active {
    transition: all .3s cubic-bezier(.55,0,.1,1);
}
.km-fade-in-enter,
.km-fade-in-leave-active {
    opacity: 0;
}