@import "../common/var";

/* collapse-transition */
.km-collapse-transition {
    transition: $transition-duration-base height $ease-in-out, $transition-duration-base padding-top $ease-in-out, $transition-duration-base padding-bottom $ease-in-out, $transition-duration-base border-top-width $ease-in-out, $transition-duration-base border-bottom-width $ease-in-out;
}
.km-horizontal-collapse-transition {
    transition: $transition-duration-base width $ease-in-out, $transition-duration-base padding-left $ease-in-out, $transition-duration-base padding-right $ease-in-out, $transition-duration-base border-top-width $ease-in-out, $transition-duration-base border-bottom-width $ease-in-out;
}

/* fade-transition */
.km-fade-transition-enter-active, .km-fade-transition-leave-active, .km-fade-transition-appear-active {
    transition: $fade-transition;
    //transition: opacity 2s;
}
.km-fade-transition-enter, .km-fade-transition-leave-to, .km-fade-transition-appear {
    opacity: 0;
}