@import "../mixins/mixins";
@import "../mixins/utils";
@import "../common/var";

@include b(card) {
    box-sizing: border-box;
    line-height: 1.5;
    border-radius: $card-border-radius;
    background-color: $card-background-color;
    //overflow: hidden;
    font-size: $font-size-base;
    color: $card-font-color;
    transition: $all-transition;

    @include when(bordered) {
        border: 1px solid $card-border-color;
    }

    @include when(always-shadow) {
        box-shadow: $card-box-shadow;
    }

    @include when(hover-shadow) {
        &:hover,
        &:focus {
            box-shadow: $card-box-shadow;
        }
    }

    @include when(small) {
        & > .km-card__header {
            padding: 0 $card-padding-small;
            font-size: $font-size-base;
        }

        & .km-card__header-wrapper {
            padding: $card-padding-small - 4px 0;
        }

        & > .km-card__body {
            padding: $card-padding-small;
        }
    }

    @include when(grid) {
        & > .km-card__body {
            margin: -1px 0 0 -1px;
            padding: 0;
        }
    }

    @include when(inner) {
        > .km-card__header {
            background-color: $card-inner-background-color;
        }
        .km-card__wrapper {
            padding: $card-padding - 12px 0;
            font-size: $font-size-base;
        }
        > .km-card__body {
            padding: $card-padding - 8px $card-padding;
        }
    }

    @include e(header) {
        box-sizing: border-box;
        border-bottom: 1px solid $card-border-color;
        padding: 0 $card-padding;
        font-size: $font-size-medium;
    }

    @include e(wrapper) {
        display: flex;
        padding: $card-padding - 8px 0;
        align-items: center;
    }

    @include e(title) {
        flex: 1;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    @include e(extra) {
        margin-right: auto;
        font-size: $font-size-base;
        color: mix($color-black, $color-white, 35%);
    }

    @include e(body) {
        padding: $card-padding;
        color: $card-font-color-body;
        @include utils-clear-fix();
    }

    @include e(actions) {
        margin: 0;
        padding: 0;
        border-top: 1px solid $card-border-color;
        background-color: $card-actions-background-color;
        list-style: none;
        @include utils-clear-fix();

        & > li {
            box-sizing: border-box;
            float: left;
            margin: 12px 0;
            color: $card-meta-font-color-desc;
            text-align: center;

            &:not(:last-child) {
                border-right: 1px solid $card-border-color;
            }

            & > span {
                box-sizing: border-box;
                position: relative;
                display: block;
                //min-width: 32px;
                //line-height: 22px;
                font-size: $font-size-large;
                cursor: pointer;
            }
        }
    }
}

@include b(card-meta) {
    margin: -4px 0;
    @include utils-clear-fix();

    @include e(avatar) {
        float: left;
        padding-right: 16px;
    }

    @include e(detail) {
        overflow: hidden;
        & > div:not(:last-child) {
            margin-bottom: 8px;
        }
    }

    @include e(title) {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-size: $font-size-medium;
        font-weight: $font-weight-base;
        color: $card-meta-font-color-title;
    }

    @include e(desc) {
        color: $card-meta-font-color-desc;
    }
}

@include b(card-grid) {
    box-sizing: border-box;
    float: left;
    width: percentage(1/3);
    padding: $card-padding;
    border: 0;
    border-radius: 0;
    box-shadow: 1px 0 0 0 $card-grid-shadow, 0 1px 0 0 $card-grid-shadow, 1px 1px 0 0 $card-grid-shadow, 1px 0 0 0 $card-grid-shadow inset, 0 1px 0 0 $card-grid-shadow inset;
    transition: $all-transition;

    @include pseudo(hover) {
        position: relative;
        z-index: $z-index-base;
        box-shadow: 0 2px 8px $card-grid-shadow-hover;
    }
}