@import "../mixins/mixins";
@import "../mixins/utils";
@import '../mixins/_button';
@import "../common/var";

@include b(checkbox) {
    display: inline-block;
    position: relative;
    margin-right: 20px;
    outline: none;
    line-height: $line-height-base;
    font-size: $checkbox-font-size;
    font-weight: $checkbox-font-weight;
    color: $checkbox-font-color;
    cursor: pointer;
    white-space: nowrap;
    @include utils-user-select(none);

    /*@include when(bordered) {
        box-sizing: border-box;
        height: $checkbox-bordered-height;
        line-height: normal;
        border: $border-base;
        border-radius: $checkbox-bordered-border-radius;
        padding: $checkbox-bordered-padding;

        &.is-checked {
            border-color: $color-primary;
        }

        &.is-disabled {
            border-color: $border-color-lighter;
            cursor: not-allowed;
        }

        & + .km-checkbox.is-bordered {
            margin-left: 10px;
        }

        &.km-checkbox--medium {
            height: $checkbox-bordered-medium-height;
            padding: $checkbox-bordered-medium-padding;
            border-radius: $border-radius-base;

            .km-checkbox__label {
                line-height: 17px;
                font-size: $font-size-base;
            }

            .km-checkbox__inner {
                width: $checkbox-bordered-medium-input-width;
                height: $checkbox-bordered-medium-input-height;
            }
        }

        &.km-checkbox--small {
            height: $checkbox-bordered-small-height;
            padding: $checkbox-bordered-small-padding;
            border-radius: $border-radius-base;

            .km-checkbox__label {
                line-height: 15px;
                font-size: $button-small-font-size;
            }

            .km-checkbox__inner {
                width: $checkbox-bordered-small-input-width;
                height: $checkbox-bordered-small-input-height;

                &::after {
                    width: 2px;
                    height: 6px;
                }
            }
        }

        &.km-checkbox--mini {
            height: $checkbox-bordered-mini-height;
            padding: $checkbox-bordered-mini-padding;
            border-radius: $border-radius-base;

            .km-checkbox__label {
                line-height: 12px;
                font-size: $font-size-base;
            }

            .km-checkbox__inner {
                width: $checkbox-bordered-mini-input-width;
                height: $checkbox-bordered-mini-input-height;
                &::after {
                    width: 2px;
                    height: 6px;
                }
            }
        }
    }*/

    @include e(input) {
        display: inline-block;
        position: relative;
        line-height: 1;
        outline: none;
        white-space: nowrap;
        cursor: pointer;
        vertical-align: middle;

        @include when(disabled) {
            .km-checkbox__inner {
                border-color: $checkbox-disabled-border-color;
                background-color: $checkbox-disabled-input-fill;
                cursor: not-allowed;

                &::after {
                    border-color: $checkbox-disabled-icon-color;
                    cursor: not-allowed;
                }

                & + .km-checkbox__label {
                    cursor: not-allowed;
                }
            }

            &.is-checked {
                .km-checkbox__inner {
                    border-color: $checkbox-disabled-checked-input-border-color;
                    background-color: $checkbox-disabled-checked-input-fill;

                    &::after {
                        border-color: $checkbox-disabled-checked-icon-color;
                    }
                }
            }

            &.is-indeterminate {
                .km-checkbox__inner {
                    //border-color: $checkbox-disabled-checked-input-border-color;
                    //background-color: $checkbox-disabled-checked-input-fill;

                    &::after {
                        background-color: $checkbox-disabled-checked-icon-color;
                        //border-color: $checkbox-disabled-checked-icon-color;
                        //background-color: $checkbox-disabled-checked-icon-color;
                    }
                }
            }

            & + span.km-checkbox__label {
                color: $disabled-color-base;
                cursor: not-allowed;
            }
        }

        @include when(checked) {
            /* 选中时波纹效果 */
            &::after {
                box-sizing: border-box;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border: 1px solid $checkbox-checked-input-border-color;
                border-radius: $border-radius-small;
                //visibility: hidden;
                animation: checkboxEffect 0.36s ease-in-out;
                animation-fill-mode: backwards;
                content: '';
            }
            .km-checkbox__inner {
                border-color: $checkbox-checked-input-border-color;
                background-color: $checkbox-checked-background-color;

                /* tick-icon checked */
                &::after {
                    opacity: 1;
                    transform: rotate(45deg) scale(1) translate(-50%, -50%);
                }
            }
        }
        @include when(focus) { /*focus时 视觉上区分*/
            .km-checkbox__inner {
                border-color: $checkbox-input-border-color-hover;
            }
        }
        @include when(indeterminate) {
            .km-checkbox__inner {
                //border-color: $checkbox-checked-input-border-color;
                //background-color: $checkbox-checked-background-color;

                /*&::before {
                    content: '';
                    position: absolute;
                    display: block;
                    height: 2px;
                    left: 0;
                    right: 0;
                    top: 5px;
                    background-color: $checkbox-checked-icon-color;
                    transform: scale(0.5);
                }*/

                &::after {
                    width: $checkbox-indeterminate-width;
                    height: $checkbox-indeterminate-height;
                    border: 0;
                    top: 50%;
                    left: 50%;
                    background-color: $checkbox-indeterminate-background-color;
                    opacity: 1;
                    transform: translate(-50%, -50%) scale(1);
                }
            }
        }
    }
    @include e(inner) {
        box-sizing: border-box;
        display: block;
        position: relative;
        width: $checkbox-input-width;
        height: $checkbox-input-height;
        border: $checkbox-input-border;
        border-radius: $checkbox-border-radius;
        background-color: $checkbox-background-color;
        z-index: $z-index-base;
        transition: border-color $transition-duration-base $ease-in-out-back,
                    background-color $transition-duration-base $ease-in-out-back;

        &:hover {
            border-color: $checkbox-input-border-color-hover;
        }

        /* tick-icon */
        &::after {
            content: "";
            box-sizing: border-box;
            display: table;
            position: absolute;
            $checkbox-width: ($checkbox-input-width / 14) * 5;
            $checkbox-height: ($checkbox-input-height / 14) * 8;
            width: $checkbox-width;
            height: $checkbox-height;
            border: 2px solid $checkbox-checked-icon-color;
            border-left: 0;
            border-top: 0;
            left: 21%;
            top: 50%;
            opacity: 0;
            transform: rotate(45deg) scale(0) translate(-50%, -50%) ;
            //transition: transform .15s ease-in .05s;
            transition: all $transition-duration-fast $ease-in-back $transition-duration-fast;
            //transform-origin: center;
        }
    }

    /* input[type=checkbox] */
    @include e(original) {
        position: absolute;
        width: 0;
        height: 0;
        outline: none;
        margin: 0;
        opacity: 0;
        z-index: $z-index-negative;
        /* focus时边框色 */
        &:focus + .km-checkbox__inner {
            border-color: $checkbox-checked-input-border-color;
        }
    }

    @include e(label) {
        display: inline-block;
        line-height: 19px;
        padding-left: 10px;
        font-size: $checkbox-font-size;
        vertical-align: middle;
        transition: color $transition-duration-base;
    }

    &:last-of-type {
        margin-right: 0;
    }
}

/*@include b(checkbox-button) {
    position: relative;
    display: inline-block;

    @include e(inner) {
        display: inline-block;
        box-sizing: border-box;
        position: relative;
        line-height: 1;
        border: $border-base;
        border-left: 0;
        outline: none;
        margin: 0;
        background-color: $color-white;
        font-weight: $checkbox-font-weight;
        color: $checkbox-font-color;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        cursor: pointer;
        -webkit-appearance: none;
        transition: $all-transition;
        @include utils-user-select(none);

        @include button-size($button-padding-vertical, $button-padding-horizontal, $button-font-size, 0);

        &:hover {
            color: $color-primary;
        }

        & [class*="km-icon-"] {
            line-height: 0.9;

            & + span {
                margin-left: 5px;
            }
        }
    }

    @include e(original) {
        position: absolute;
        outline: none;
        margin: 0;
        z-index: $z-index-negative;
        opacity: 0;
    }

    &.is-checked {
        & .km-checkbox-button__inner {
            border-color: $checkbox-button-checked-border-color;
            background-color: $checkbox-button-checked-background-color;
            box-shadow: -1px 0 0 0 $color-primary-light-4;
            color: $checkbox-button-checked-font-color;
        }
        &:first-child .km-checkbox-button__inner {
            border-left-color: $checkbox-button-checked-border-color;
        }
    }

    &.is-disabled {
        & .km-checkbox-button__inner {
            border-color: $button-disabled-border-color;
            box-shadow: none;
            background-color: $button-disabled-background-color;
            background-image: none;
            color: $button-disabled-font-color;
            cursor: not-allowed;
        }
        &:first-child .km-checkbox-button__inner {
            border-left-color: $button-disabled-border-color;
        }
    }

    &:first-child {
        .km-checkbox-button__inner {
            border-left: $border-base;
            border-radius: $border-radius-base 0 0 $border-radius-base;
            box-shadow: none !important;
        }
    }

    &.is-focus {
        & .km-checkbox-button__inner {
            border-color: $checkbox-button-checked-border-color;
        }
    }

    &:last-child {
        .km-checkbox-button__inner {
            border-radius: 0 $border-radius-base $border-radius-base 0;
        }
    }
    @include m(large) {
        .km-checkbox-button__inner {
            @include button-size($button-large-padding-vertical, $button-large-padding-horizontal, $button-large-font-size, 0);
        }
    }
    @include m(small) {
        .km-checkbox-button__inner {
            @include button-size($button-small-padding-vertical, $button-small-padding-horizontal, $button-small-font-size, 0);
        }
    }
}*/