@import "../mixins/index";
@import "../common/var";
@import "./picker";

@include b(date-picker) {
    box-sizing: border-box;
    display: inline-block;
    position: relative;
    width: $date-picker-width;
    margin: 0;
    padding: 0;
    outline: none;
    list-style: none;
    cursor: pointer;

    .km-input__inner {
        cursor: pointer;
    }

    @include e(clear) {
        display: none;
    }

    @include when(clearable) {
        &:hover {
            .km-date-picker__caret {
                display: none;
            }
            .km-date-picker__clear {
                display: inline-block;
            }
        }
    }
}

@include b(date-picker-panel) {
    @include e(input-wrap) {
        padding: 7px 12px;
        border-bottom: 1px solid $date-picker-panel-border-color;

        /*.km-input {
            margin-right: -100px;
        }*/
        .km-input__inner {
            border: none;
            padding: 0 5px;
        }
    }
}

@include b(date-picker-calendar) {
    position: relative;
    outline: none;
    font-size: $font-size-base;
    color: $date-picker-calendar-color;

    @include e(header) {
        box-sizing: border-box;
        height: $date-picker-calendar-header-height;
        line-height: $date-picker-calendar-header-height;
        border-bottom: 1px solid $date-picker-panel-border-color;
        text-align: center;
        user-select: none;

        a {
            display: inline-block;
            line-height: $date-picker-calendar-header-height;
            padding: 0 2px;
            color: $date-picker-calendar-header-color;
            font-weight: 500;
        }

        i {
            line-height: $date-picker-calendar-header-height;
        }
        @include e((header-prev-year, header-prev-month)) {
            &:before, &:after {
                position: relative;
                top: -1px;
                display: inline-block;
                width: 8px;
                height: 8px;
                vertical-align: middle;
                border: 0 solid #aaa;
                border-width: 1.5px 0 0 1.5px;
                border-radius: 1px;
                -webkit-transform: rotate(-45deg) scale(.8);
                -ms-transform: rotate(-45deg) scale(.8);
                transform: rotate(-45deg) scale(.8);
                -webkit-transition: all .3s;
                transition: all .3s;
                content: '';
            }
        }

        @include e(header-prev-year) {
            &:after {
                position: relative;
                left: -3px;
                display: inline-block;
            }
        }

        @include e(header-prev-month) {
            &:after {
                content: none;
            }
        }
    }

    @include e(body) {
        padding: 8px 12px;
    }

    @include e(table) {
        width: 100%;
        max-width: 100%;
        border-collapse: collapse;
        &, & th, & td {
            border: none;
            text-align: center;
        }
    }

    @include e(column-header) {
        width: $date-picker-calendar-table-th-width;
        line-height: $date-picker-calendar-table-th-height;
        padding: 6px 0;
    }

    @include e(column-inner) {
        display: block;
        font-weight: normal;
    }

    @include e(ceil) {
        box-sizing: border-box;
        height: $date-picker-calendar-table-td-height;
        padding: 3px 0;

        @include e(date) {
            box-sizing: border-box;
            display: block;
            width: 24px;
            height: 24px;
            margin: 0 auto;
            padding: 0;
            //color: rgba(0,0,0,0.65);
            line-height: 22px;
            text-align: center;
            background: transparent;
            border: 1px solid transparent;
            border-radius: 2px;
            transition: background .3s ease;
        }
    }
}
