@import "../mixins/index";
@import "../common/var";
@import "./picker";

@include b(date-picker) {
    box-sizing: border-box;
    display: inline-block;
    position: relative;
    width: $date-picker-width;
    margin: 0;
    padding: 0;
    outline: none;
    list-style: none;
    cursor: pointer;

    .km-input__inner {
        cursor: pointer;
    }

    @include e(clear) {
        display: none;
    }

    @include when(clearable) {
        &:hover {
            .km-date-picker__caret {
                display: none;
            }
            .km-date-picker__clear {
                display: inline-block;
            }
        }
    }
}

@include b(date-picker-panel) {
    @include e(input-wrap) {
        padding: 7px 12px;
        border-bottom: 1px solid $date-picker-panel-border-color;

        /*.km-input {
            margin-right: -100px;
        }*/
        .km-input__inner {
            border: none;
            padding: 0 5px;
        }
    }
}

@include b(date-picker-calendar) {
    position: relative;
    outline: none;
    font-size: $font-size-base;
    color: $date-picker-calendar-color;

    @include e(header) {
        box-sizing: border-box;
        height: $date-picker-calendar-header-height;
        line-height: $date-picker-calendar-header-height;
        border-bottom: 1px solid $date-picker-panel-border-color;
        padding: 0 10px;
        text-align: center;
        user-select: none;

        @include e(header-select) {
            display: inline-block;
            line-height: $date-picker-calendar-header-height;
            a {
                display: inline-block;
                padding: 0 2px;
                transition: color $transition-duration-base;
                color: $date-picker-calendar-header-color;
                cursor: pointer;
                &:hover {
                    color: $color-primary;
                }
            }
        }

        @include e(header-btn) {
            border: none;
            outline: none;
            padding: 0 3px;
            background-color: transparent;
            transition: color $transition-duration-base;
            color: $color-text-thin-dark-4;
            cursor: pointer;
            &:hover {
                color: $color-text-thin-dark-7;
            }
            i {
                line-height: $date-picker-calendar-header-height;
            }
        }
        button[class*="prev"] {
            float: left;
        }
        button[class*="next"] {
            float: right;
        }
    }

    @include e(body) {
        padding: 8px 12px;
    }

    @include e(table) {
        width: 100%;
        max-width: 100%;
        border-collapse: collapse;
        &, & th, & td {
            border: none;
            text-align: center;
        }
    }

    @include e(column-header) {
        width: $date-picker-calendar-table-th-width;
        line-height: $date-picker-calendar-table-th-height;
        padding: 6px 0;
    }

    @include e(column-inner) {
        display: block;
        font-weight: normal;
    }

    @include e(ceil) {
        box-sizing: border-box;
        height: $date-picker-calendar-table-td-height;
        padding: 3px 0;

        @include e(date) {
            box-sizing: border-box;
            display: block;
            width: 24px;
            height: 24px;
            line-height: 22px;
            border: 1px solid transparent;
            border-radius: 2px;
            margin: 0 auto;
            padding: 0;
            background-color: transparent;
            transition: background .3s ease;
            text-align: center;
            cursor: pointer;
        }
    }
}
