@import "../mixins/index";
@import "../common/var";
@import "./picker";

@include b(date-picker) {
    box-sizing: border-box;
    display: inline-block;
    position: relative;
    width: $date-picker-width;
    margin: 0;
    padding: 0;
    outline: none;
    list-style: none;
    cursor: pointer;

    .km-input__inner {
        cursor: pointer;
    }

    @include e(clear) {
        display: none;
    }

    @include when(clearable) {
        &:hover {
            .km-date-picker__caret {
                display: none;
            }
            .km-date-picker__clear {
                display: inline-block;
            }
        }
    }
}

@include b(date-picker-panel) {
    @include e(input-wrap) {
        padding: 7px 12px;
        border-bottom: 1px solid $date-picker-panel-border-color;

        /*.km-input {
            margin-right: -100px;
        }*/
        .km-input__inner {
            border: none;
            padding: 0 5px;
        }
    }
}

@include b(calendar) {
    position: relative;
    outline: none;
    font-size: $font-size-base;
    color: $calendar-color;

    @include e(header) {
        box-sizing: border-box;
        height: $calendar-header-height;
        line-height: $calendar-header-height;
        border-bottom: 1px solid $date-picker-panel-border-color;
        padding: 0 10px;
        text-align: center;
        user-select: none;

        @include e(header-select) {
            display: inline-block;
            line-height: $calendar-header-height;
            a {
                display: inline-block;
                padding: 0 2px;
                transition: color $transition-duration-base;
                color: $calendar-header-select-color;
                cursor: pointer;
                &:hover {
                    color: $color-primary;
                }
            }

            @include when(disabled) {
                a {
                    color: $calendar-header-select-disabled-color;
                    cursor: not-allowed;
                    &:hover {
                        color: $calendar-header-select-disabled-color;
                    }
                }
            }
        }

        @include e(header-btn) {
            border: none;
            outline: none;
            padding: 0 3px;
            background-color: transparent;
            transition: color $transition-duration-base;
            color: $calendar-header-btn-color;
            cursor: pointer;
            &:hover {
                color: $calendar-header-btn-color-hover;
            }
            i {
                line-height: $calendar-header-height;
            }

            @include when(disabled) {
                cursor: not-allowed;
                &:hover {
                    color: $calendar-header-btn-color;
                }
            }
        }
        button[class*="prev"] {
            float: left;
        }
        button[class*="next"] {
            float: right;
        }
    }

    @include e(body) {
        padding: 8px 12px;
    }

    @include e(table) {
        width: 100%;
        max-width: 100%;
        border-collapse: collapse;
        &, & th, & td {
            border: none;
            text-align: center;
        }
    }

    @include e(column-header) {
        width: $calendar-column-header-width;
        line-height: $calendar-column-header-height;
        padding: 6px 0;
    }

    @include e(column-inner) {
        display: block;
        font-weight: normal;
    }

    @include e(cell) {
        box-sizing: border-box;
        height: $calendar-cell-height;
        padding: 3px 0;
        transition: color $transition-duration-base;

        @include e(date) {
            box-sizing: border-box;
            display: block;
            width: $calendar-cell-date-width;
            height: $calendar-cell-date-width;
            line-height: $calendar-cell-date-width - 2px;
            border: 1px solid transparent;
            border-radius: 2px;
            margin: 0 auto;
            padding: 0;
            background-color: transparent;
            transition: background-color $transition-duration-base;
            text-align: center;
            cursor: pointer;
        }

        &:hover .km-calendar__date {
            background-color: $calendar-cell-hover-background-color;
        }

        @include when(prev-month) {
            color: $calendar-cell-prev-month-color;
            &:hover:not(.is-disabled) .km-calendar__date {
                background-color: transparent;
            }
        }

        @include when(next-month) {
            color: $calendar-cell-next-month-color;
            &:hover:not(.is-disabled) .km-calendar__date {
                background-color: transparent;
            }
        }

        @include when(today) {
            color: $color-primary;
            .km-calendar__date {
                border-color: $color-primary;
            }
        }

        @include when(selected) {
            color: $color-white;
            .km-calendar__date {
                background-color: $color-primary;
            }
        }

        @include when(disabled) {
            color: $calendar-cell-disabled-color;
            cursor: not-allowed;
            .km-calendar__date {
                width: 100%;
                background-color: $calendar-cell-disabled-background-color;
            }
            @include when(today) {
                color: $calendar-cell-disabled-today-color;
                .km-calendar__date {
                    width: $calendar-cell-date-width;
                    border-color: $calendar-cell-disabled-today-border-color;
                    background-color: $calendar-cell-disabled-today-background-color;
                }
            }
            @include when(selected) {
                color: $calendar-cell-disabled-selected-color;
                .km-calendar__date {
                    width: $calendar-cell-date-width;
                    background-color: $calendar-cell-disabled-selected-background-color;
                }
            }
        }
    }
}
