@import "../mixins/index";
@import "../common/var";

@include b(pagination) {
    box-sizing: border-box;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: $pagination-font-size;
    color: $pagination-font-color;

    @include e(item) {
        box-sizing: border-box;
        display: inline-block;
        min-width: $pagination-item-width;
        height: $pagination-item-height;
        line-height: $pagination-item-height - 2px;
        outline: 0;
        margin-right: $pagination-item-gap;
        background-color: $pagination-background-color;
        list-style: none;
        text-align: center;
        vertical-align: middle;
        cursor: pointer;
        user-select: none;
        @include when(active) {
            color: $pagination-hover-color;
            .km-pagination__link {
                border-color: $pagination-hover-color;
            }
        }

        @include when(disabled) {
            color: $pagination-disabled-color;
            cursor: not-allowed;
            .km-pagination__link {
                border-color: $pagination-border-color;
            }
            &.is-active, &:hover, &:focus {
                color: $pagination-disabled-color;
                .km-pagination__link {
                    border-color: $pagination-border-color;
                }
            }
        }

        @include when(shrink) {
            .km-pagination__link {
                border-color: transparent;
            }
            &:hover, &:focus {
                .km-pagination__link {
                    border-color: transparent;
                }
            }
            &:hover {
                .km-pagination__ellipsis {
                    opacity: 0;
                }
                .km-pagination__rapid {
                    opacity: 1;
                }
            }
        }

        @include when(next) {
            margin-right: 0;
        }

        &.is-prev, &.is-next {
            transition: $all-transition;
        }

        &:hover, &:focus {
            color:$pagination-hover-color;
            .km-pagination__link {
                border-color: $pagination-hover-color;
            }
        }
    }

    @include e(link) {
        box-sizing: border-box;
        display: block;
        position: relative;
        height: 100%;
        border: 1px solid $pagination-border-color;
        border-radius: $pagination-border-radius;
        padding: 0 6px;
    }

    @include e(total) {
        display: inline-block;
        height: $pagination-item-height;
        line-height: $pagination-item-height;
        margin-right: 8px;
        vertical-align: middle;
    }

    @include e(ellipsis) {
        box-sizing: border-box;
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        color: $pagination-ellipsis-color;
        letter-spacing: 2px;
        text-align: center;
        text-indent: .13em;
        opacity: 1;
        transition: all .2s;
    }

    @include e(rapid) {
        opacity: 0;
        transition: all .2s;
    }

    @include e(options) {
        display: inline-block;
        margin-left: 16px;
        vertical-align: middle;
    }

    @include e(size-changer) {
        display: inline-block;
        width: 105px;
        margin-right: 8px;
    }

    @include e(quick-jumper) {
        display: inline-block;
        height: $pagination-item-height;
        line-height: $pagination-item-height;
        vertical-align: top;
    }

    @include e(quick-input) {
        width: 55px;
        margin: 0 8px;
    }

    @include when(disabled) {
        .km-pagination__item {
            background-color: $pagination-disabled-background-color;
            color: $pagination-disabled-color;
            cursor: not-allowed;
            .km-pagination__link {
                border-color: $pagination-disabled-border-color;
            }
            &:hover, &:focus {
                background-color: $pagination-disabled-background-color;
                color: $pagination-disabled-color;
                cursor: not-allowed;
                .km-pagination__link {
                    border-color: $pagination-disabled-border-color;
                }
            }
            &.is-active {
                background-color: $pagination-disabled-background-color-active;
                color: $color-white;
            }
            &.is-shrink {
                background-color: transparent;
                .km-pagination__link {
                    border-color: transparent;
                }
                &:hover {
                    .km-pagination__ellipsis {
                        opacity: 1;
                    }
                    .km-pagination__rapid {
                        opacity: 0;
                    }
                }
            }
        }
    }

    @include when(simple) {
        .is-prev, .is-next {
            .km-pagination__link {
                border-color: transparent;
            }
        }
        .km-pagination__item {
            width: $pagination-item-width-simple;
            height: $pagination-item-height-simple;
            line-height: $pagination-item-height-simple;
        }
        @include when(disabled) {
            .is-prev, .is-next {
                background-color: transparent;
                .km-pagination__link {
                    border-color: transparent;
                }
                &:hover, &:focus {
                    background-color: transparent;
                    .km-pagination__link {
                        border-color: transparent;
                    }
                }
            }
        }
    }

    @include e(simple-pager) {
        display: inline-block;
        margin-right: 8px;
        vertical-align: middle;
    }

    @include e(simple-input) {
        width: 60px;
        margin-right: 8px;
        .km-input__inner {
            text-align: center;
        }
    }

    @include e(slash) {
        margin: 0 10px 0 5px;
    }
}