@import "../mixins/mixins";
@import "../mixins/_button";
@import "../common/var";

@include b(radio-button) {
    position: relative;
    display: inline-block;
    outline: none;

    @include e(orig-radio) {
        position: absolute;
        outline: none;
        z-index: -1;
        opacity: 0;

        &:checked {
            & + .km-radio-button__inner {
                border-color: $radio-button-checked-border-color;
                background-color: $radio-button-checked-background-color;
                color: $radio-button-checked-font-color;
                //box-shadow: -1px 0 0 0 $radio-button-checked-border-color;
            }
        }

        &:focus {
            & + .km-radio-button__inner {
                box-shadow: 0 0 0 3px $radio-input-border-box-shadow-focus;
            }
        }

        &:disabled {
            & + .km-radio-button__inner {
                border-color: $button-disabled-border-color;
                background-color: $button-disabled-background-color;
                background-image: none;
                box-shadow: none;
                color: $button-disabled-font-color;
                cursor: not-allowed;
            }
            &:checked + .km-radio-button__inner {
                background-color: $radio-button-disabled-checked-fill;
            }
        }
    }

    @include e(inner) {
        box-sizing: border-box;
        display: inline-block;
        position: relative;
        line-height: 1;
        border: $border-base;
        //border-width: $border-width-base;
        //border-left-width: 0;
        //border-style: $border-style-base;
        //border-color: $border-color-base;
        outline: none;
        margin: 0;
        background-color: $radio-button-base-background-color;
        font-weight: $radio-button-font-weight;
        color: $radio-button-base-font-color;
        white-space: nowrap;
        text-align: center;
        vertical-align: middle;
        -webkit-appearance: none;
        cursor: pointer;
        transition: all $transition-duration-base $ease-in-out;

        @include button-size($button-padding-vertical, $button-padding-horizontal, $button-font-size, 0);

        &:hover {
            color: $color-primary;
        }

        & [class*="km-icon-"] {
            line-height: 0.9;

            & + span {
                margin-left: 5px;
            }
        }
    }

    /*&:first-child {
        .km-radio-button__inner {
            border-left: $border-base;
            border-radius: $border-radius-base 0 0 $border-radius-base;
        }
    }

    &:last-child {
        .km-radio-button__inner {
            border-radius: 0 $border-radius-base $border-radius-base 0;
        }
    }

    &:first-child:last-child {
        .km-radio-button__inner {
            border-radius: $border-radius-base;
        }
    }*/

    @include m(large) {
        & .km-radio-button__inner {
            @include button-size($button-large-padding-vertical, $button-large-padding-horizontal, $button-font-size, 0);
        }
    }
    @include m(small) {
        & .km-radio-button__inner {
            @include button-size($button-small-padding-vertical, $button-small-padding-horizontal, $button-font-size, 0);
        }
    }

    /*&:focus:not(.is-focus):not(:active):not(.is-disabled){ !*获得焦点时 样式提醒*!
        box-shadow: 0 0 2px 2px $radio-button-checked-border-color;
    }*/
}
