@import "../mixins/mixins";
@import "../mixins/utils";
@import "../common/var";

@include b(step) {
    display: inline-block;
    position: relative;
    flex: 1;
    margin-right: 16px;
    overflow: hidden;
    white-space: nowrap;
    vertical-align: top;

    @include e(container) {
        outline: none;
    }

    @include e(tail) {
        box-sizing: border-box;
        position: absolute;
        width: 100%;
        top: 12px;
        left: 0;
        padding: 0 10px;
        @include pseudo(after) {
            content: '';
            display: inline-block;
            width: 1px;
            height: 100%;
            border-radius: 1px;
            background-color: $step-line-color;
            transition: background-color .3s;
        }
    }

    @include e(icon) {
        display: inline-block;
        width: $step-icon-width;
        height: $step-icon-height;
        line-height: $step-icon-height;
        border: $border-base;
        border-radius: $border-radius-circle;
        margin-right: 8px;
        transition: background-color $transition-duration-base,border-color $transition-duration-base;
        font-size: $step-icon-font-size;
        color: $color-primary;
        text-align: center;
        vertical-align: top;
    }

    @include e(icon-wrap) {
        position: relative;
        top: 1px;
    }

    @include e(content) {
        display: inline-block;
        vertical-align: top;
    }

    @include e(title) {
        position: relative;
        display: inline-block;
        line-height: $step-title-height;
        padding-right: 16px;
        font-size: $step-title-font-size;
        color: $step-title-font-color;
        @include pseudo(after) {
            content: '';
            display: block;
            position: absolute;
            top: $step-title-height / 2;
            left: 100%;
            width: 9999px;
            height: 1px;
            background-color: $step-line-color;
        }

        @include e(subtitle) {
            display: inline;
            margin-left: 8px;
            text-shadow: none;
            font-size: $step-subtitle-font-size;
            color: $step-subtitle-font-color;
            font-weight: normal;
        }
    }

    @include pseudo(last-child) {
        margin-right: 0;
        flex: none;
        .km-step__title:after {
            display: none;
        }
        .km-step__tail {
            display: none;
        }
    }

    @include e(description) {
        max-width: $step-description-max-width;
        white-space: normal;
        font-size: 14px;
        color: $step-description-font-color;
    }

    @include when(wait) {
        .km-step__icon {
            border-color: $color-text-thin-dark-2;
            background-color: #fff;
            color: $color-text-thin-dark-2;
        }
    }

    @include when(finish) {
        .km-step__icon {
            border-color: $color-primary;
            background-color: #fff;
            color: $color-primary;
        }
        .km-step__title:after {
            background-color: $color-primary;
        }
        .km-step__tail:after {
            background-color: $color-primary;
        }
    }

    @include when(process) {
        .km-step__icon {
            border-color: $color-primary;
            background-color: $color-primary;
            color: $color-white;
        }
        .km-step__title {
            @include utils-little-bold;
            color: $color-text-thin-dark-8;
        }
        .km-step__description {
            color: $color-text-thin-dark-6;
        }
    }

    @include when(custom) {
        @include when(process) {
            .km-step__icon {
                color: $color-primary;
            }
        }
        .km-step__icon {
            width: auto;
            height: auto;
            border: 0;
            background: none;
        }
        .km-step__icon-wrap {
            width: $step-icon-width-custom;
            height: $step-icon-height-custom;
            line-height: $step-icon-height-custom;
            top: 0;
            left: .5px;
            font-size: $step-icon-font-size-custom;
        }
    }
}
