@font-face {
    font-family: 'kealm-icon';
    src:  url('fonts/kealm-icon.eot?5to3y2');
    src:  url('fonts/kealm-icon.eot?5to3y2#iefix') format('embedded-opentype'),
    url('fonts/kealm-icon.ttf?5to3y2') format('truetype'),
    url('fonts/kealm-icon.woff?5to3y2') format('woff'),
    url('fonts/kealm-icon.svg?5to3y2#kealm-icon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="km-"], [class*=" km-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'kealm-icon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.km-home:before {
    content: "\e901";
}
.km-pencil:before {
    content: "\e905";
}
.km-quill:before {
    content: "\e907";
}
.km-eyedropper:before {
    content: "\e90a";
}
.km-droplet:before {
    content: "\e90b";
}
.km-image:before {
    content: "\e90d";
}
.km-images:before {
    content: "\e90e";
}
.km-camera:before {
    content: "\e90f";
}
.km-music:before {
    content: "\e911";
}
.km-film:before {
    content: "\e913";
}
.km-connection:before {
    content: "\e91b";
}
.km-mic:before {
    content: "\e91e";
}
.km-book:before {
    content: "\e91f";
}
.km-books:before {
    content: "\e920";
}
.km-file-empty:before {
    content: "\e924";
}
.km-files-empty:before {
    content: "\e925";
}
.km-file-text:before {
    content: "\e926";
}
.km-file-music:before {
    content: "\e928";
}
.km-file-play:before {
    content: "\e929";
}
.km-file-video:before {
    content: "\e92a";
}
.km-copy:before {
    content: "\e92c";
}
.km-paste:before {
    content: "\e92d";
}
.km-stack:before {
    content: "\e92e";
}
.km-folder:before {
    content: "\e92f";
}
.km-folder-plus:before {
    content: "\e931";
}
.km-folder-minus:before {
    content: "\e932";
}
.km-folder-download:before {
    content: "\e933";
}
.km-folder-upload:before {
    content: "\e934";
}
.km-price-tag:before {
    content: "\e935";
}
.km-barcode:before {
    content: "\e937";
}
.km-qrcode:before {
    content: "\e938";
}
.km-cart:before {
    content: "\e93a";
}
.km-coin-dollar:before {
    content: "\e93b";
}
.km-coin-euro:before {
    content: "\e93c";
}
.km-coin-pound:before {
    content: "\e93d";
}
.km-coin-yen:before {
    content: "\e93e";
}
.km-phone:before {
    content: "\e942";
}
.km-phone-hang-up:before {
    content: "\e943";
}
.km-envelop:before {
    content: "\e945";
}
.km-location:before {
    content: "\e948";
}
.km-alarm:before {
    content: "\e950";
}
.km-calendar:before {
    content: "\e953";
}
.km-printer:before {
    content: "\e954";
}
.km-keyboard:before {
    content: "\e955";
}
.km-display:before {
    content: "\e956";
}
.km-mobile:before {
    content: "\e958";
}
.km-drawer:before {
    content: "\e95d";
}
.km-floppy-disk:before {
    content: "\e962";
}
.km-database:before {
    content: "\e964";
}
.km-undo:before {
    content: "\e967";
}
.km-redo:before {
    content: "\e968";
}
.km-forward:before {
    content: "\e969";
}
.km-reply:before {
    content: "\e96a";
}
.km-user:before {
    content: "\e971";
}
.km-user-plus:before {
    content: "\e973";
}
.km-user-minus:before {
    content: "\e974";
}
.km-loading:before {
    content: "\e97c";
}
.km-spinner:before {
    content: "\e984";
}
.km-search:before {
    content: "\e986";
}
.km-zoom-in:before {
    content: "\e987";
}
.km-zoom-out:before {
    content: "\e988";
}
.km-enlarge-full:before {
    content: "\e989";
}
.km-shrink-full:before {
    content: "\e98a";
}
.km-enlarge:before {
    content: "\e98b";
}
.km-shrink:before {
    content: "\e98c";
}
.km-key:before {
    content: "\e98d";
}
.km-lock:before {
    content: "\e98f";
}
.km-unlocked:before {
    content: "\e990";
}
.km-cog:before {
    content: "\e994";
}
.km-gift:before {
    content: "\e99f";
}
.km-rocket:before {
    content: "\e9a5";
}
.km-bin:before {
    content: "\e9ac";
}
.km-airplane:before {
    content: "\e9af";
}
.km-power:before {
    content: "\e9b5";
}
.km-switch:before {
    content: "\e9b6";
}
.km-list-numbered:before {
    content: "\e9b9";
}
.km-list:before {
    content: "\e9bb";
}
.km-tree:before {
    content: "\e9bc";
}
.km-download:before {
    content: "\e9c5";
}
.km-upload:before {
    content: "\e9c6";
}
.km-earth:before {
    content: "\e9ca";
}
.km-link:before {
    content: "\e9cb";
}
.km-eye:before {
    content: "\e9ce";
}
.km-eye-blocked:before {
    content: "\e9d1";
}
.km-star-empty:before {
    content: "\e9d7";
}
.km-star-half:before {
    content: "\e9d8";
}
.km-star-full:before {
    content: "\e9d9";
}
.km-heart:before {
    content: "\e9da";
}
.km-heart-broken:before {
    content: "\e9db";
}
.km-warning:before {
    content: "\ea07";
}
.km-notification:before {
    content: "\ea08";
}
.km-question:before {
    content: "\ea09";
}
.km-plus:before {
    content: "\ea0a";
}
.km-minus:before {
    content: "\ea0b";
}
.km-info:before {
    content: "\ea0c";
}
.km-cancel-circle:before {
    content: "\ea0d";
}
.km-blocked:before {
    content: "\ea0e";
}
.km-cross:before {
    content: "\ea0f";
}
.km-checkmark:before {
    content: "\ea10";
}
.km-checkmark-o:before {
    content: "\ea11";
}
.km-play:before {
    content: "\ea15";
}
.km-pause:before {
    content: "\ea16";
}
.km-stop:before {
    content: "\ea17";
}
.km-previous:before {
    content: "\ea18";
}
.km-next:before {
    content: "\ea19";
}
.km-go-backward:before {
    content: "\ea1a";
}
.km-go-forward:before {
    content: "\ea1b";
}
.km-volume-medium:before {
    content: "\ea27";
}
.km-volume-mute:before {
    content: "\ea29";
}
.km-volume-mute-o:before {
    content: "\ea2a";
}
.km-arrow-up-left:before {
    content: "\ea39";
}
.km-arrow-up:before {
    content: "\ea3a";
}
.km-arrow-up-right:before {
    content: "\ea3b";
}
.km-arrow-right:before {
    content: "\ea3c";
}
.km-arrow-down-right:before {
    content: "\ea3d";
}
.km-arrow-down:before {
    content: "\ea3e";
}
.km-arrow-down-left:before {
    content: "\ea3f";
}
.km-arrow-left:before {
    content: "\ea40";
}
.km-circle-up:before {
    content: "\ea41";
}
.km-circle-right:before {
    content: "\ea42";
}
.km-circle-down:before {
    content: "\ea43";
}
.km-circle-left:before {
    content: "\ea44";
}
.km-scissors:before {
    content: "\ea5a";
}
.km-filter:before {
    content: "\ea5b";
}
.km-bold:before {
    content: "\ea62";
}
.km-underline:before {
    content: "\ea63";
}
.km-italic:before {
    content: "\ea64";
}
.km-strikethrough:before {
    content: "\ea65";
}
.km-chrome:before {
    content: "\ead9";
}
.km-firefox:before {
    content: "\eada";
}
.km-IE:before {
    content: "\eadb";
}
.km-edge:before {
    content: "\eadc";
}
.km-safari:before {
    content: "\eadd";
}
.km-file-pdf:before {
    content: "\eadf";
}
.km-file-openoffice:before {
    content: "\eae0";
}
.km-file-word:before {
    content: "\eae1";
}
.km-file-excel:before {
    content: "\eae2";
}
.km-libreoffice:before {
    content: "\eae3";
}
